button,
a {
    cursor: pointer;
}

body {
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 390px;
    min-height: 844px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--white);
}

.none {
    display: none !important;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}